@use './variaveis';
@use './mixins';

.informacoes {
  width: 100%;
  margin: 5% 0%;
}

.dados {
  @include mixins.flex-align(start);
  margin-top: 1rem;
  font-size: 1.2rem;
}

.formulario {
  width: 100%;
}

.form-elements {
  width: 100%;
  height: 40px;
  margin-top: 2vh;
  font-size: variaveis.$text-xl;
  color: variaveis.$color-secondary;
  border: 1px solid variaveis.$color-primary;
  border-radius: variaveis.$border-radius;
  padding-left: 2%;
}

.form-elements:focus {
  outline: 2px solid variaveis.$color-primary;
}

.form-text {
  height: 120px;
}

.form-button {
  color: variaveis.$color-background;
  background-color: variaveis.$color-primary;
  cursor: pointer;
}

.form-button:hover {
  background-color: variaveis.$color-accent;
}

.form-button:active {
  color: variaveis.$color-secondary;
}