@use './variaveis';
@use './mixins';

.card {
  width: 100%;
  border-radius: variaveis.$border-radius;
  border: 1px solid variaveis.$color-primary;
  box-shadow: 5px 5px 10px variaveis.$color-gray-light;
  padding: 2%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
    "imagem     nome"
    "avaliacao  empresa"
    "texto      texto";
  margin: 4% 0%;

  @media (min-width: 768px){
    width: 44%;
    margin: 2%;
  }
}

.card-foto {
  grid-area: imagem;
  width: 100%;
  max-width: 100px;
  justify-self: center;
}

.card-nome {
  grid-area: nome;
  font-size: variaveis.$text-2xl;
  font-weight: 600;
  text-align: left;
  align-content: center;
  padding-left: 3%;
}

.card-avaliacao {
  grid-area: avaliacao;
  font-size: variaveis.$text-xl;
  text-align: center;
  align-content: center;
  color: variaveis.$color-rating;
}

.card-empresa {
  grid-area: empresa;
  font-size: variaveis.$text-xl;
  font-weight: 500;
  text-align: left;
  align-content: center;
  padding-left: 3%;
}

.card-texto {
  grid-area: texto;
  font-size: variaveis.$text-xl;
  font-weight: 400;
  text-align: left;
  align-content: center;
  margin: 5% 0%;
}