$font-primary: "Montserrat","sans serif";
$font-secondary: "Russo One", sans-serif;

$text-sm:   0.875rem;
$text-base: 1rem;
$text-lg:   1.125rem;
$text-xl:   1.25rem;
$text-2xl:  1.5rem;
$text-3xl:  1.875rem;
$text-4xl:  2.25rem;
$text-5xl:  3rem;

$color-primary:     #4ecdc4;
$color-secondary:   #2c3e50;
$color-accent:      #3bb5ad;
$color-background:  #f8f9fa;
$color-gray-light:  #e5e5e5;
$color-rating:      #e6c402;

$border-radius: 10px;