@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

/*========== Reset ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== Body ==========*/
.body {
  width: 100%;
  color: #2C3E50;
  font-family: "Montserrat","sans serif";
  background-color: #F8F9FA;
}

.display-block {
  display: block;
}

/*========== Header, Nav e Menu Mobile ==========*/
.header {
  margin: 0vh 2vh;
}

.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4ECDC4;
}

.nav__logo {
  font-family: "Russo One", sans-serif;
  font-weight: lighter;
  font-size: 2.2rem;
}

.nav__list {
  display: none;
}

.nav__bar {
  font-size: 2.2rem;
}

.bar__display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 205, 197, 0.3);
  position: absolute;
}

.bar__item {
  list-style: none;
}

.bar__link {
  font-size: 1.5rem;
  color: #F8F9FA;
  font-weight: 500;
  line-height: 3.5rem;
  text-decoration: none;
}

.bar__link:hover {
  color: #c2c2c2;
}

.bar__link:active {
  font-size: 1.4rem;
}

.bar__display--none {
  display: none;
}

/*========== Main e Sections gerais==========*/
.main {
  margin: 0vh 2vh;
}

.section {
  width: 100%;
  margin-top: 4vh;
  border-top: 1px solid #4ECDC4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section__title {
  width: 100%;
  font-size: 2rem;
  margin: 2vh 0vw;
  text-align: center;
}

.section__text {
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
}

/*========== Section Home ==========*/
.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F8F9FA;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/image480.png") center/cover no-repeat;
}

.home__title {
  width: 50%;
  height: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: right;
  font-size: 1.5rem;
  padding-right: 10px;
  border-right: 1px solid #4ECDC4;
}

.home__slogan {
  width: 50%;
  height: 25%;
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  font-size: 1.3rem;
}

/*========== Section Serviços ==========*/
.servicos {
  width: 100%;
  margin: 3%;
  padding: 3%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 5px 15px #c3c3c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos:hover {
  background-color: #f4f4f4;
}

.servicos__icon {
  width: 100%;
  font-size: 4rem;
  color: #4ECDC4;
}

.servicos__title {
  font-size: 1.5rem;
  margin: 1vh 0vh;
}

.servicos__text {
  font-size: 1.2rem;
  text-align: center;
}

/*========== Section Depoimentos ==========*/
.card {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #4ECDC4;
  box-shadow: 5px 5px 10px #f5f5f5;
  padding: 2%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
    "imagem     nome"
    "avaliacao  empresa"
    "texto      texto";
  margin: 4% 0%;
}

.card-foto {
  grid-area: imagem;
  width: 100%;
  max-width: 100px;
  justify-self: center;
}

.card-nome {
  grid-area: nome;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  align-content: center;
  padding-left: 3%;
}

.card-avaliacao {
  grid-area: avaliacao;
  font-size: 1.2rem;
  text-align: center;
  align-content: center;
  color: #e6c402;
}

.card-empresa {
  grid-area: empresa;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  align-content: center;
  padding-left: 3%;
}

.card-texto {
  grid-area: texto;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  align-content: center;
  margin: 5% 0%;
}

/*========== Section Contato ==========*/
.informacoes {
  width: 100%;
  margin: 5% 0%;
}

.dados {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.formulario {
  width: 100%;
}

.form-elements {
  width: 100%;
  height: 40px;
  margin-top: 2vh;
  font-size: 1.3rem;
  color: #2C3E50;
  border: 1px solid #4ECDC4;
  border-radius: 5px;
  padding-left: 2%;
}

.form-elements:focus {
  outline: 2px solid #4ECDC4;
}

.form-text {
  height: 120px;
}

.form-button {
  color: #F8F9FA;
  background-color: #4ECDC4;
  cursor: pointer;
}

.form-button:hover {
  background-color: #3BB5AD;
}

.form-button:active {
  color: #2C3E50;
}

/*========== footer ==========*/
.footer {
  width: 100vw;
  height: 3vh;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3E50;
  color: #F8F9FA;
  margin-top: 3%;
}

/*--------------------------------------------------------------+
¦ Tablet - min 768px                                            ¦
+---------------------------------------------------------------*/
@media (min-width: 768px) {
  /*========== Home ==========*/
  .home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/image768.png") center/cover no-repeat;
  }

  .home__title {
    font-size: 2.2rem;
    height: 30%;
  }

  .home__slogan {
    font-size: 1.9rem;
    height: 30%;
  }

  /*========== Serviços ==========*/
  .servicos {
    width: 44%;
    min-height: 30vh;
  }

  /*========== Depoimentos ==========*/
  .card {
    width: 44%;
    margin: 2%;
  }
}

/*--------------------------------------------------------------+
¦ Small Desktop - min 1024px                                    ¦
+---------------------------------------------------------------*/
@media (min-width: 1024px) {
  /*========== Header e Nav ==========*/
  .header {
    margin: 0vh 4vh;
  }

  .nav__bar, .bar__display {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    list-style: none;
    font-size: 1.2rem;
  }

  .nav__link {
    color: #4ECDC4;
    font-weight: 500;
    text-decoration: none;
  }

  .nav__link:hover {
    color:#3da19a;
  }

  /*========== Home ==========*/
  .main {
    margin: 0vh 4vh;
  }

  .home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/image1024.png") center/cover no-repeat;
  }

  .home__title {
    font-size: 2.5rem;
    height: 35%;
  }

  .home__slogan {
    font-size: 2.2rem;
    height: 35%;
  }

  /*========== Sobre ==========*/
  .section__text {
    padding: 0% 10%;
  }

}